{{set . "title" "About Us"}}

{{set . "action" "application/about"}}

{{template "header.html" .}}

<article>
	<h2>About</h2>

	<p>{{.AppName}} is web application built for Go on the Revel Web Framework w/ Docker build support.</p>
	<p>The source code is publicly available on <a href="https://gitlab.com/s4ntos/remote">Github</a>.</p>

	<hr>

	<h3>
	<a name="user-content-license" class="anchor" href="#license"><span class="octicon octicon-link"></span></a>License</h3>

	<p>MIT. Copyright (c) <a href="https://twitter.com/s4ntos">s4ntos</a>.</p>

	<p>See the <a href="https://portal/blob/master/LICENSE">LICENSE</a> file.</p>

</article>

{{template "footer.html" .}}
