{{set . "title" "Contact Us"}}

{{set . "action" "application/contact"}}

{{template "header.html" .}}

<article>
	<h2>Contact</h2>

	<p>If you need further help I can be reached on Twitter <a href="https://twitter.com/s4ntos">@s4ntos</a>.

	<h3>
	<a name="feedback" class="anchor" href="#feedback"><span class="octicon octicon-link"></span></a>Feedback</h3>

	<p>If you find any bugs or issues please report them on the <a href="https://gitlab.com/s4ntos/remote/issues">{{.AppName}} Issue Tracker</a>.</p>

	<p>If you would like to contribute to this project please consider <a href="https://gitlab.com/s4ntos/fork">forking this repo</a>, making your changes and then creating a new <a href="https://portal/pulls">Pull Request</a> back to the main code repository.</p>

</article>

{{template "footer.html" .}}
