{{set . "title" "Home"}}

{{set . "action" "application/index"}}

{{template "header.html" .}}

<article>
	<div class="jumbotron">
	  <h1>Welcome to {{.AppName}}</h1>
		<p>{{.AppName}} is a bootstrap Revel web application that provides a baseline web application starter kit with the following features:</p>
		<p>{{ .AppName }} is open-source and avaiable on Github at <a href="https://gitlab.com/s4ntos/remote">https://gitlab.com/s4ntos/remote</a>.
	  <p><a href="https://gitlab.com/s4ntos/remote" class="btn btn-primary btn-lg" role="button">View project on Github</a></p>
	</div>

</article>

{{template "footer.html" .}}
